<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new tweet</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div id="app">
    <div class="container" style="width: 700px; margin: 0 auto;">
        <h1>Create tweet</h1>
        <form action="/tweets/create" method="POST" class="form">
            <div>
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" required minlength="20" maxlength="50">
            </div>
            <div style="margin-top: 5px;">
                <label for="tweet">Tweet:</label>
                <input type="text" id="tweet" name="tweet" required maxlength="50">
            </div>
            <button type="submit" style="margin-top: 20px;">Create tweet</button>
        </form>
    </div>
</div>
</body>
</html>