<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create post</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
<div id="app">
    <form action="/posts/create" method="POST">
        <h2>Create post</h2>
        <label for="title">
            <input type="text" class="input" name="title" id="title" placeholder="title">
        </label>
        <label for="content">
            <input type="text" class="input" name="content" id="content" placeholder="content">
        </label>

        <button type="submit" class="btn btn--submit">Create</button>
    </form>
    <a href="/" class="link">< Posts page</a>
</div>
</body>
</html>