<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The timeline</title>
  </head>
  <body>
    <h1>Home page</h1>
    <ul>
      <% posts.forEach(function(post) { %>
      <li style="margin-bottom: 10px;">
        <strong><%= post.name %></strong>
        <p><%= post.message %></p>
        <span style="font-size: 14px;"><%= post.createdAt %></span>
      </li>
      <% }); %>
    </ul>
  </body>
</html>